  
  /* Motion Bank workspace */
  /* fjenett - 2010-10 - 2011-07 */

  html,
  body
  {
    overflow: auto;  /* hide IE7 scrollbar */
  }
  
  body
  {
    height: 100%;
    
    background-color: #131212;
    background-image: url('../images/background.png');
    background-repeat: repeat-x;
    
    font-size: 13px;
    font-family: 'Verdana', sans;
	color: black;
  }
  
  a,
  a:visited,
  a:hover,
  a:link,
  a:active
  {
    text-decoration: none;
    color: #225D8F;
  }

  b, strong
  {
     color: #444444;
  }
  
  h1, h2, h3, h4, h5, h6, .title
  {
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "DejaVu Sans", Arial, sans-serif;
    font-weight: normal;
  }
  
  h1.title
  {
    margin-bottom: 0.5em;
  }
  
  fieldset
  {
    border: 1px solid #999999;
  }
  
  table
  {
    width: 100%;
  }
  
  th, thead th, tbody th
  {
    padding-bottom: 0.5em;
  }

  /*==========================
     Header
    ==========================*/
  
  #header
  {
    height: 130px;
    overflow: visible;
  }
  
  #logo
  {
    padding-top: 35px;
    padding-left: 8px;
    margin-bottom: 36px;
  }

  #name-and-slogan /*see theme settings ..*/
  {
	display: none;
  }

  ul.breadcrumb
  {
    float: left;
    padding: 0px;
    padding-top: 36px;
    padding-left: 20px;
    margin: 0px;

    width: 550px; /*fix loooong names*/
	height: 30px;
	overflow: hidden;
  }

  ul.breadcrumb li
  {
    display: inline;
    overflow: auto;
    padding: 0px;
    margin: 0px;
    list-style: none;
  }

  /*.breadcrumb
  {
	margin-top: 33px;
	float: left;
	height: 32px;
	margin-left: 33px;
  }*/
  
  .breadcrumb,
  .breadcrumb a,
  .breadcrumb a.active
  {
    color: white; /*#444444;*/
  }
  
  .breadcrumb a
  {
    display: block;
    float: left;
    
    padding: 7px 8px;
    padding-right: 15px;
    margin: 0px;
    
    background-color: #30343A; /*#E7EAED;*/
    background-image: url('../images/breadcrumbs-arrow.png');
    background-position: right center;
    background-repeat: no-repeat;
  }
  
  .breadcrumb li.last a
  {
    padding-right: 12px;
    background-image: none;
  }
  
  .breadcrumb li.first a
  {
    padding-left: 12px;
  }
  
  #header .region-header
  {
    width: 960px;
  }

  /*==========================
     Primary, Secondary links
    ==========================*/
  
  #block-system-main-menu
  {
    float: left;
  }
  
  #block-menu-secondary-menu
  {
    float: right;
  }
  
  #block-system-main-menu .block-title,
  #block-menu-secondary-menu .block-title
  {
    display: none;
  }
  
  #block-system-main-menu ul.menu,
  #block-menu-secondary-menu ul.menu
  {
    padding: 0px;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  #block-system-main-menu .menu li,
  #block-menu-secondary-menu .menu li
  {
    list-style: none;
    padding: 7px 12px 7px 12px;
    margin: 0px 5px 0px 0px;
    float: left;
    background-color: #485059;
  }

  #block-system-main-menu .menu li:hover,
  #block-menu-secondary-menu .menu li:hover
  {	
  	background-color: #A2AAB1;
    color: #444444;
  }
  
  #block-system-main-menu .menu li.active-trail,
  #block-menu-secondary-menu .menu li.active-trail
  {
    background-color: white;
  }
  
  #block-menu-secondary-menu .menu li
  {
    margin: 0px 0px 0px 5px;
  }
  
  #block-system-main-menu .menu li a,
  #block-menu-secondary-menu .menu li a
  {
    display: block;
    font-size: 1.0em;
    color: #dddddd;
  }
  
  #block-system-main-menu .menu li:hover a,
  #block-menu-secondary-menu .menu li:hover a,
  #block-system-main-menu .menu li.active-trail a,
  #block-menu-secondary-menu .menu li.active-trail a
  {
    color: #444444;
  }
  
  /*==========================
     Main
    ==========================*/
  
  #main-wrapper
  {
    background-color: white;
    padding: 30px ;
  }
  
  .no-sidebars #content
  {
    width: 900px;
  }
  
  .sidebar-first #content,
  .sidebar-second #content
  {
    width: 700px;
  }
  
  .region-sidebar-second
  {
    margin-left: 700px;
  }
  
  div.messages,
  div.status,
  div.error,
  div.warning
  {
    margin: 1em 0px 2em 0px;
  }
  
  #content-area .picture /*,
  #content-area .meta*/
  {
    display: none;
  }

	#content-area .meta
	{
		color: #888888;
		overflow: auto;
		margin-bottom: 1.5em;
	}

	#content-area .meta a
	{
		color: #555555;
	}

	#content-area .meta .submitted
	{
		display: block;
	}

	#content-area .meta .terms ul li
	{
		float: left;
		padding-left: 0px;
	}
  
  #content-area .node .groups
  {
    display: none;
  }

  #content .tabs /* these are handled as block -> local tasks block */
  {
	display: none;
  }
  
  ul.links
  {
    margin-top: 0px;
  }
  
  ul.links li
  {
    display: block;
  }
  
  .block h2.block-title
  {
    font-size: 1.1em;
  }

  
  /*==========================
     Footer
    ==========================*/
  
  .region-i-dont-know-which
  {
    padding: 20px;
    background-color: #A2AAB1;
    margin-bottom: 20px;
  }
  
  .region-footer .block
  {
    padding-left: 10px;
  }
  
  .region-footer,
  .region-footer a
  {
    color: #444444;
    font-size: 10px;
  }
  .region-footer a
  {
	text-decoration: underline;
}