#block-search-form
{
	clear: both;
	background: white;
	height: 27px;
	padding-left: 76.5%;
    padding-top: 12px;
}

#block-system-main-menu, 
#block-menu-secondary-menu
{
	margin-bottom:0px;
}