.view-to-do-list
 {
 }

 .view-to-do-list .views-row
 {
   border-bottom: 1px solid #ADAFB2;
   padding: 8px 0px 8px 12px;
 }

 .view-to-do-list .views-row-first
 {
   border-top: 1px solid #ADAFB2;
 }

 .view-to-do-list .views-row-last
 {
	margin-bottom: 3em;
 }

 .view-to-do-list .views-row .field-title .field-content
 {
	display: inline;
 }

 .view-to-do-list .views-row .state-new,
 .view-to-do-list .views-row .state-new a
 {
	color: #444;
 }

 .view-to-do-list .views-row .state-blocked,
 .view-to-do-list .views-row .state-blocked a
 {
	color: #444;
	font-style: italic;
 }

 .view-to-do-list .views-row .state-in-progress,
 .view-to-do-list .views-row .state-in-progress a
 {
	color: #00cc00;
 }

 .view-to-do-list .views-row .state-finished,
 .view-to-do-list .views-row .state-finished a
 {
	color: #bbb;
 }

 .view-to-do-list .views-row .state-won-t-do,
 .view-to-do-list .views-row .state-won-t-do a
 {
	color: #bbb;
	text-decoration: line-through;
 }

 .view-to-do-list .views-row .overdue,
 .view-to-do-list .views-row .overdue a
 {
	color: red;
	font-weight: bold;
 }

 .view-to-do-list .views-row .detailed-info
 {
	float: right;
 }

 .view-to-do-list .views-row .detailed-info,
 .view-to-do-list .views-row .detailed-info a
 {	
 	color: #ADAFB2;
 	font-size: 0.9em;
 }

/* to_do_item node page */

 .vocabulary-to-do-milestones .field-label,
 .node-type-to-do-item .content .field-label
 {
	width: 100px;
	font-weight: normal;
	color: #666;
 }

 .vocabulary-to-do-milestones .fields,
 .node-type-to-do-item .content .fields
 {
	padding: 0.75em;
	border: 1px solid #999;
	margin-bottom: 2em;
 }

 .vocabulary-to-do-milestones .fields .field-items .field-item,
 .node-type-to-do-item .content .fields .field-items .field-item
 {
	float: left;
	padding-right: 1em;
 }

 /* single nodes in teaser on tax-term-pages */

 .page-taxonomy-term .term-listing-heading,
 .page-taxonomy-term .node
 {
	/* see frontpage.css */
 	border-bottom: 1px solid #ADAFB2;
 }
 
 .page-taxonomy-term .node
 {		
	padding: 8px 0px 8px 12px;
 }

 .page-taxonomy-term .node .node-title
 {
	font-size: 1em;
 }

 .page-taxonomy-term .node .fields,
 .page-taxonomy-term .node .content
 {
	display: none;
 }

 /* to do items by status */

 .view-to-do-block-status ul
 {
	margin: 0px; padding: 0px;
	display: block;
	overflow: auto;
 }

 .view-to-do-block-status ul li
 {
	float: left;
	list-style: none;
	margin-right: 1em;
	border: 1px solid #eee;
 }

 .view-to-do-block-status ul li a
 {
	display: block;
	padding: 6px 7px 7px 7px;
 }

 .view-to-do-block-status
 {
	margin-bottom: 3em;
 }