.view-to-do-list
 {
 }

 .view-to-do-list .detailed-info
 {
	float: right;
    color: #ADAFB2;
    font-size: 0.8em;
 }

 .view-to-do-list .views-row
 {
   border-bottom: 1px solid #ADAFB2;
   padding: 8px 0px 8px 12px;
 }

 .view-to-do-list .views-row-first
 {
   border-top: 1px solid #ADAFB2;
 }

 .view-to-do-list .views-row-last
 {
	margin-bottom: 3em;
 }

/* to_do_item node page */

 .node-type-to-do-item .content .field-label
 {
	width: 100px;
	font-weight: normal;
	color: #666;
 }

 .node-type-to-do-item .content .fields
 {
	padding: 0.75em;
	border: 1px solid #999;
	margin-bottom: 2em;
 }

 .node-type-to-do-item .content .fields .field-items .field-item
 {
	float: left;
	padding-right: 1em;
 }