.to-do-info dt
{
  font-weight: bold;
}

.to-do-fieldset
{
  padding: 10px;
}

.to-do-info ul {
  padding-left: 0px;
}

.to-do-info li {
  list-style-image: none;
  list-style-type: none;
  padding-left: 0px;
}
