.node-type-basic-page .links.inline {
	display: none;
}

.node-type-basic-page .region-content {
    float: left;
}

.node-type-basic-page #content-header{
	width: 384px;
}

.node-type-basic-page #page-title{
	line-height: 1;
	margin-top: -8px;
	margin-bottom: 30px;
	font-weight: 100;
}
.node-type-basic-page .form-item.form-type-item{
	display: none;
}

.node-type-basic-page .field-item{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	margin-bottom: 15px;
	padding: 25px 10px 25px 16px;
}


.node-type-basic-page .field-name-field-image {
	display: none;
}

.node-type-basic-page li {
	list-style-type: none;
}

.node-type-basic-page li img{
	margin-bottom: 30px;
}

.node-type-basic-page .basic-page-image-title{
	background-color: #000000;
	background-color: rgba(0,0,0,0.3);
	position: relative;
	top: -26px;
	padding-left: 10px;
	font-style: italic;
	font-size: 10px;
	letter-spacing: 0.09em;
	color: #FFFFFF;
}

.node-type-basic-page #block-views-basic-page-image-listing-block{
	float: left;
	margin-right: 26px;
}

.node-type-basic-page #block-views-latest-entries-block{
	display: none;
}
/* TYPE STYLING */
.node-type-basic-page .field-item p {
	margin: 0px;
	margin-top: 12px;
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 0.03em;
	font-weight: 400;
	color: #000000;
	display: block;
}

.node-type-basic-page .field-item h2{
	margin: 0px;
	font-size: 17px;
	letter-spacing: 0.05em;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;	
}

.node-type-basic-page .field-item h3{
	margin: 0px;
	font-size: 17px;
	letter-spacing: 0.2em;
	font-weight: 100;
	color: #000000;
	text-transform: uppercase;
}

.node-type-basic-page .field-item a {
	text-decoration: none;
}

.node-type-basic-page .field-item a:hover {
	text-decoration: underline;
}