/* --- hide content on frontpage --- */

.front #content h1.title,
.front #content .tabs,
.front #content #block-system-main, 
.front #content-header{
	display: none;
}

/* --- outlined navigation blocks --- */


#block-views-frontpage-nodes-block,
#block-views-latest-entries-block,
#block-views-random-nodes-block
{
	overflow: auto;
	margin: 0px;
	padding: 0px;
	float: left;
}

#block-views-frontpage-nodes-block *,
#block-views-latest-entries-block *,
#block-views-random-nodes-block * {
	display: none;
}

#block-views-frontpage-nodes-block .content,
#block-views-frontpage-nodes-block .content *,
#block-views-latest-entries-block .content,
#block-views-latest-entries-block .content *,
#block-views-random-nodes-block .content,
#block-views-random-nodes-block .content * {

	display: block;
}

#block-views-frontpage-nodes-block .field-content a,
#block-views-latest-entries-block .field-content a,
#block-views-random-nodes-block .field-content a
{
	display: block;
	float: left;
	width: 264px; /* 306px (incl. 2x 1px border + 2x20px pading) */
	
	border: 1px solid rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, .6);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
/*
	margin-right: 26px;
	margin-bottom: 26px;
	
	padding-top: 150px;
	padding-left: 20px;
	padding-right: 20px;
	*/
	height: 150px;

	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-size: 16px;
	letter-spacing: 0.20em;
	font-weight: 300;	
}

#block-views-frontpage-nodes-block .field-content a
{
	width: 384px;
}

#block-views-frontpage-nodes-block .views-row-first a
{
	font-size: 41px;
	letter-spacing: 0.05em;
	font-weight: 100;
}

#block-views-random-nodes-block .random-block-group-0,
#block-views-random-nodes-block .random-block-group-1 {
	float: left;
}