
/* FRONTPAGE */
.panels-flexible-frontpage_layout-inside .panels-flexible-column {
	width: 309px;
	margin-right: 23px;
}

.panels-flexible-frontpage_layout-inside .panels-flexible-column-first {
	width: 386px;
	margin-right: 24px;
}

.panels-flexible-frontpage_layout-inside .panel-pane {
	display: table;
	width: 100%;
}

.panels-flexible-frontpage_layout-inside .panel-pane h2 {
	display: table-cell;
	vertical-align: middle;

    border: 1px solid rgb(255, 255, 255);
	border: 1px solid rgba(255, 255, 255, .6);
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-size: 16px;
	letter-spacing: 0.20em;
	font-weight: 300;	
}

	/* RESET */
	.panels-flexible-region-frontpage_layout-center {
		width: auto;
		float: none;
	}

	.panels-flexible-frontpage_layout-inside .pane-content {
		line-height: 0;
	}

	.panels-flexible-frontpage_layout .panels-flexible-column-inside {
		padding: 0;
	}

.panels-flexible-frontpage_layout-inside .pane-title a {
	display: block;
	padding: 0 10px;
	color: #FFF;
	text-decoration: none;
}

.panels-flexible-frontpage_layout-inside .pane-content {
	/*display: none; /* hide image */
	margin: 0 0 0 -306px;
    overflow: hidden;
    position: absolute;
    width: 306px;
    z-index: -1;
}

.panels-flexible-frontpage_layout .panels-flexible-column-first .pane-content {
	margin: 0 0 0 -385px;
    overflow: hidden;
    width: 384px;
}

.panels-flexible-frontpage_layout-inside .pane-content img {
	display: none;
}

.panels-flexible-frontpage_layout-inside .panel-separator {
	margin: 26px 0 0 0;
}