/* --- hide content on frontpage --- */

.front #content h1.title,
.front #content .tabs,
.front #content #block-system-main, 
.front #content-header{
	display: none;
}

/* --- outlined navigation blocks --- */


#block-views-frontpage-nodes-block,
#block-views-latest-entries-block,
#block-views-random-nodes-block
{
	overflow: auto;
	margin: 0px;
	padding: 0px;
	float: left;
}

#block-views-frontpage-nodes-block *,
#block-views-latest-entries-block *,
#block-views-random-nodes-block * {
	display: none;
}

#block-views-frontpage-nodes-block .content,
#block-views-frontpage-nodes-block .content *,
#block-views-latest-entries-block .content,
#block-views-latest-entries-block .content *,
#block-views-random-nodes-block .content,
#block-views-random-nodes-block .content * {
	display: block;
}

#block-views-frontpage-nodes-block .field-content a,
#block-views-latest-entries-block .field-content a,
#block-views-random-nodes-block .field-content a
{
	display: block;
	float: left;
	width: 334px; /* 374 - padding */
	border: 1px solid white;
	margin-right: 32px;
	margin-bottom: 32px;
	font-weight: 200;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	letter-spacing: 0.25em;

	padding-top: 150px;
	padding-left: 20px;
	padding-right: 20px;
	height: 150px;
}

#block-views-frontpage-nodes-block .field-content a
{
	width: 432px; /* 472 - padding */
	font-size: 49px;
}
