.views-table.draggable {
	width: 100%;
}

.tabledrag-toggle-weight {
	display: none;
}

.frontpage-nodes-sort-block {
	float: left;
	margin-right: 24px;
	width: 386px;
}

.last-nodes-sort-block,
.random-nodes-sort-block {
	float: left;
	margin-right: 26px;
	width: 306;
}