.section-documentation .links.inline,
.section-dokumentation .links.inline {
	display: none;
}

.section-documentation #content-header,
.section-dokumentation #content-header {
    width: 716px;
    float: none;
}

.section-documentation .region-content,
.section-dokumentation .region-content {
	width: 716px;
}

.section-documentation #block-views-latest-entries-block,
.section-documentation #block-views-random-nodes-block,
.section-dokumentation #block-views-latest-entries-block,
.section-dokumentation #block-views-random-nodes-block{
	display: none;
}

.section-documentation #main-wrapper,
.section-dokumentation #main-wrapper {
	margin-bottom: 30px;
}

.section-documentation .view-id-documentation .views-row,
.section-dokumentation .view-id-documentation .views-row  {
	color: #000000;
	color: rgba(0, 0, 0, 0.7);
	padding: 10px;
	padding-left: 8px;
	margin-bottom: 8px;
	overflow: hidden;
	line-height: 0;

	position: relative;
}

.section-documentation .views-field-field-preview-image,
.section-dokumentation .views-field-field-preview-image {
	float: left;
}

.section-documentation .views-field-title,
.section-dokumentation .views-field-title  {
    color: #000000;
	color: rgba(0, 0, 0, 0.7);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.2em;
    line-height: 21px;
	text-transform: uppercase;

	padding-top: 8px;
	padding-left: 14px;
	overflow: hidden;
}

.section-documentation .views-field-title a,
.section-dokumentation .views-field-title a  {
	color: #000000;
	color: rgba(0, 0, 0, 0.7);
	text-decoration: none;
}

.section-documentation .views-field-title a:hover,
.section-dokumentation .views-field-title a:hover  {
	color: #00E7EE;
	background-color: #000000;
}

.section-documentation .views-field-field-date-of-event, 
.section-dokumentation .views-field-field-date-of-event {
    color: #000000;
	color: rgba(0, 0, 0, 0.7);
    font-size: 17px;
    font-weight: 100;
    letter-spacing: 0.2em;
    line-height: 21px;
    text-transform: uppercase;

	float: left;
	padding-left: 14px;
	overflow: hidden;
}

.section-documentation .views-field-field-location,
.section-dokumentation .views-field-field-location  {
	color: #000000;
	color: rgba(0, 0, 0, 0.7);
	font-size: 17px;
    font-weight: 100;
    letter-spacing: 0.2em;
    line-height: 21px;
    text-transform: uppercase;

	padding-left: 4px;
	overflow: hidden;	
}

.section-documentation .views-field-field-preview-text,
.section-dokumentation .views-field-field-preview-text  {
	color: #000000;
	color: rgba(0, 0, 0, 0.7);
	font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.03em;
    line-height: 17px;	

    margin-top: 3px;
	padding-left: 14px;
	overflow: hidden;
	width: 70%;
}

.section-documentation .views-field-view-node,
.section-dokumentation .views-field-view-node {
	color: #000000;
	color: rgba(0, 0, 0, 0.7);
	font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 15px;	

	overflow: hidden;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.section-documentation .views-field-view-node a,
.section-dokumentation .views-field-view-node a  {
	text-decoration: none;
}

.section-documentation .views-field-view-node a:hover,
.section-dokumentation .views-field-view-node a:hover  {
	color: #00E7EE;
	background-color: #000000;
}