.node-type-event #content-header{
	width: 716px;
}

.node-type-event #page-title{
	line-height: 1;
	margin-top: -8px;
	margin-bottom: 30px;
}
.node-type-event .form-item.form-type-item{
	display: none;
}

.node-type-event #block-views-latest-entries-block,
.node-type-event #block-views-random-nodes-block{
	display: none;
}

.node-type-event #main{
	margin-bottom: 30px;
}

.node-type-event #block-system-main{
	background-color: none;
}

.node-type-event .content{
	padding: 0px;
}

.node-type-event .field-item{
	background-color:rgba(255,255,255,0.8);
	padding: 25px 10px 25px 16px;
	margin-bottom: 15px;
}

/* TYPE STYLING */
.node-type-event .field-item p{
	margin: 0px;
	margin-top: 12px;
	font-size: 12px;
	line-height: 1.6em;
	letter-spacing: 0.03em;
	font-weight: 300;
	color: #000000;
}

.node-type-event .field-item h2{
	margin: 0px;
	font-size: 17px;
	letter-spacing: 0.05em;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;	
}

.node-type-event .field-item h3{
	margin: 0px;
	font-size: 17px;
	letter-spacing: 0.2em;
	font-weight: 100;
	color: #000000;
	text-transform: uppercase;
}

.node-type-event .field-item a {
	text-decoration: none;
}

.node-type-event .field-item a:hover {
	text-decoration: underline;
}