#block-block-4 {
  color: #FFFFFF;
  size: 10px;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  width: 1382px;
}

#block-block-4 p{
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 10px;
  line-height: 12px;
}

#footer-lvl0,
#footer-lvl1 {
  border-top: solid 1px #FFFFFF;
  border-top: solid 1px rgba(255,255,255,0.6);
  padding-top: 10px;
}

#footer-lvl1 {
  margin-top: -25px;
}

#block-block-4 h3 {
  font-size: 11px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 12px;
  letter-spacing: 0.09em;
  margin: 0px;
  padding: 0px;
}

ul#footer-links{
  list-style: none;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  width: 400px;
}

ul#footer-links li {
  float: left; 
  border-right: 1px solid #FFFFFF;
  line-height: 0;
}

ul#footer-links li:last-child {
  border-right: none;
}

ul#footer-links li a {
  text-decoration: none;
  outline: none;
  font-weight: 700;
  color: #FFFFFF;
  margin:auto;
  font-size: 11px;
  letter-spacing: 0.09em;
  padding-left: 6px;
  padding-right: 6px;
  text-transform: uppercase;
  line-height: 12px;
}

#block-block-4 a:hover {
  color: #00e7ee;
  background-color: #000000;
}

#block-block-4 a.active {
  color: #00e7ee;
  background-color: #000000;
}

#partners {
  display: inline-block;
  width: 844px;
}

.partners-img {
  position: relative; 
}

/* images */

#sachsen-img {
  left: 40px;
  top: -58px;
}

#hmwk-img {
  left: 85px;
  top: -65px;
}

#kfffm-img {
  left: 163px;
  top: -60px;
}

#ksb-img{
  left: 200px;
  top: -64px;
}

#poly-img{
  left: 259px;
  top: -61px;  
}

#ffm-img{
  left: 85px;
  top: -74px;
}

#altana-img{
  left: 112px;
  top: -74px
}

#hellerau-img{
  left: 160px;
  top: -70px;
}

#flab-img{
  left: 230px;
  top: -73px;
}

#bhf-img{
  left: 292px;
  top: -70px;
}

#project-of {
  float: left;
  width: 254px;
  margin-left: 400px; /* width from footer links*/
} 

#project-of p {
  font-size: 14px;
  letter-spacing: 0.09em;
}

#score-partners,
#footer-wrapper {
  float: left;
  width: 204px;
}

#engaging-science {
  margin-top: 15px;
}

#vw-img {
  margin-left: -26px;
}

#score-partners{
  padding-right: 40px;
}

#footer-wrapper {
  padding-right: 18px;
}

#footer-text p {
  padding: 0px;
}
/*#footer{
  padding-right: 54px;
}

.front #footer{
  padding-right: 0px;
}

#footer,
#footer p{
  color: #FFFFFF;
  text-decoration: none;
  line-height:1.3;
  font-size: 10px;
}

ul#footer-links{
  list-style: none;
  margin: 0;

  padding: 0;
}
ul#footer-links li {
  float: left; 
  border-right: 1px solid #FFFFFF;
  line-height: 1;
}

ul#footer-links li:last-child {
  border-right: none;
}

ul#footer-links li a {
  text-decoration: none;
  outline: none;
  font-weight: 700;
  color: #FFFFFF;
  margin:auto;
  font-size: 11px;
  letter-spacing: 0.09em;
  padding-left: 6px;
  padding-right: 6px;
  text-transform: uppercase;
  line-height: 12px;
}

#footer a:hover {
  color: #00e7ee;
  background-color: #000000;
}

#footer a.active {
  color: #00e7ee;
  background-color: #000000;
}

#footer-up,
#footer-down{
  border-top: solid 1px #FFFFFF;
}
ul#footer-links{
  float: left;
  width: 220px;
  padding-top: 8px;
}

#footer-spacer{
  float: left;
  width: 191px;
  padding-top: 10px;
}


#project-of,
#score-partners,
#workshop-partners,
#supported{
  float: left;
  width: 220px;
  padding-top: 10px;
}

#footer-down{
  margin-left: 412px;
  margin-top: 10px;
  padding-top: 10px;
}

.headline{
  display: inline-block;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-size: 12px;
}

#score-partners span,
#score-partners p{
  margin-left: -54px;
  width: 248px;
  margin-top: 0px;
}

#partners{
  margin-bottom: 150px;
}*/