#block-block-4 {
  color: #FFFFFF;
  size: 10px;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  width: 1382px;
}

#block-block-4 p{
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 10px;
  line-height: 12px;
}

#block-block-4 a:hover {
  color: #00e7ee;
  background-color: #000000;
}

#block-block-4 a.active {
  color: #00e7ee;
  background-color: #000000;
}

#footer-lvl0,
#footer-lvl1 {
  border-top: solid 1px #FFFFFF;
  border-top: solid 1px rgba(255,255,255,0.6);
  padding-top: 12px;
}

#footer-lvl1 {
  clear: left;
}

#block-block-4 h3 {
  font-size: 11px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 12px;
  letter-spacing: 0.09em;
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
}

ul#footer-links{
  display: inline-block;
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  width: 400px;
}

ul#footer-links li {
  float: left; 
  border-right: 1px solid #FFFFFF;
  line-height: 0;
}

ul#footer-links li:last-child {
  border-right: none;
}

ul#footer-links li a {
  text-decoration: none;
  outline: none;
  font-weight: 700;
  color: #FFFFFF;
  margin:auto;
  font-size: 11px;
  letter-spacing: 0.09em;
  padding-left: 6px;
  padding-right: 6px;
  text-transform: uppercase;
  line-height: 12px;
}

/* lvl00 ******************************/

#footer-wrapper-01 {
  float: left;
  width: 220px;
  margin-bottom: 40px;
}

  #project-of {
    float: left;
    width: 254px;
  } 

  img#tfc-img {
    float: left;
    padding-bottom: 25px;
  }

  #education-partners .img-wrapper {
    float: left;
    width: 65px;
    display: block;
  }

  #education-partners p {
    padding: 0;
    padding-top: 8px;
  }

#score-partners{
  float: left;
  width: 284px;
}

#score-partners .img-wrapper {
  float: left;
  width: 70px;
  display: block;
}

#score-partners p{
  margin-bottom: 10px;
}

#footer-wrapper-02 {
  float: left;
  width: 222px;
}

  #vw-img {
    margin-left: -26px;
  }

  #workshop-partners h3 {
    padding-bottom: 20px;
  }
  #workshop-partners .img-wrapper {
    float: left;
    width: 50px;
    display: block;
  }

  #workshop-partners p {
    padding: 0;
  }

#footer-text {
  float: left;
}

#footer-text p {
  padding: 0px;
  line-height: 1.3;
}
#footer-text p span {
  font-weight:400;
}

/* lvl01 ******************************/
#partners {
  display: inline-block;
  width: 844px;
  margin-left: 400px; /* width from footer links*/
}

.partners-img {
  position: relative; 
}

/* images */

#sachsen-img {
  left: 40px;
  top: -58px;
}

#hmwk-img {
  left: 85px;
  top: -65px;
}

#kfffm-img {
  left: 163px;
  top: -60px;
}

#ksb-img{
  left: 200px;
  top: -64px;
}

#poly-img{
  left: 259px;
  top: -61px;  
}

#ffm-img{
  left: 85px;
  top: -74px;
}

#altana-img{
  left: 112px;
  top: -74px
}

#hellerau-img{
  left: 160px;
  top: -70px;
}

#flab-img{
  left: 230px;
  top: -73px;
}

#bhf-img{
  left: 292px;
  top: -70px;
}