/* --- i18n menu / language switcher--- */

#block-locale-language
{
	position: fixed;
	left: 0px;
	top: 90px;
	height: 19px;
	z-index: 1000;
	background-color: rgb(51,51,51);
	color: white;
	width: 60px;
	padding: 0px;
	margin: 0px;
}

#block-locale-language {
	transform-origin: 0% 100%;
	transform: rotate(90deg);
	-ms-transform-origin: 0% 100%;
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform-origin: 0% 100%;
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
	-o-transform-origin: 0% 100%;
	-o-transform: rotate(90deg); /* Opera */
	-moz-transform-origin: 0% 100%;
	-moz-transform: rotate(90deg); /* Firefox */
}

#block-locale-language a
{
	color: white;
	text-decoration: none;
	line-height: 1.4;

	font-size: 10px;
	letter-spacing: 0.15em;
	font-weight: 300;

	padding-top: 2px;
	padding-left: 2px;
}

#block-locale-language .locale-untranslated{
	line-height: 1.4;

	font-size: 10px;
	letter-spacing: 0.15em;
	font-weight: 400;

	padding-top: 2px;
	padding-left: 2px;
}

#block-locale-language * {
	display: none;
}

#block-locale-language .content,
#block-locale-language .content *,
#block-locale-language .content li:first-child {
	display: block;
	/*padding-left: 0.25em;*/
}

#block-locale-language .content li.active {
	display: none;
}