body {
  font-family: 'Lato', sans-serif;
  background-color: #999;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  letter-spacing: 0.25em;
}

h1 {
  font-weight: 100;
  font-size: 41px;
  letter-spacing: 0.05em;
}

h2 {
  font-weight: 300;
  font-size: 20px;
}

h1.title {
  text-transform: uppercase;
}

p {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}

a {
  text-decoration: underline;
}

a:link, a:hover, a:visited, a:active {
  color: black;
}

.pager a {
  color: #FFF !important;
}

table,
td{
  font-family: 'Lato', sans-serif;
  margin: 0px;
  vertical-align: top;
}

/* for admin pannel */
.toolbar #page-wrapper{
  padding-top: 85px;
}

#page-wrapper {
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#page-wrapper {
  padding-left: 54px;
  padding-top: 60px;
}

.menufont {
  font-weight:700;
  font-size: 12px;
}

.menufont:hover {
  color: #00E7EE;
}

.region-footer {
  margin-top: 50px;
}

.element-hidden {
  position: fixed;
  left: -10000px;
  top: -10000px;
  width: 0px;
  height: 0px;
}

#block-system-main .content
{
  display: block;
}

a.download_btn {
  border: 1px solid #000000;
  display: block;
  margin-bottom: 6px;
  text-align: center;
}