#block-block-1
{
	position: fixed;
	left: 0px;
	top: 166px;
	height: 19px;
	z-index: 1000;
	background-color: rgb(51,51,51);
	color: white;
	font-size: 11px;
	letter-spacing: 0.25em;
	padding-left: 8px;
	padding-right: 8px;
}

#block-block-1 {
	transform-origin: 0% 100%;
	transform: rotate(90deg);
	-ms-transform-origin: 0% 100%;
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform-origin: 0% 100%;
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
	-o-transform-origin: 0% 100%;
	-o-transform: rotate(90deg); /* Opera */
	-moz-transform-origin: 0% 100%;
	-moz-transform: rotate(90deg); /* Firefox */
}

#block-block-1 p {
	margin: 0;
}

#block-block-1 a
{
	color: white;
	text-decoration: none;
	line-height: 1.4;
	display: block;
	padding-left: 0.25em;
	font-size: 11px;
}
