.section-newsletter #block-views-random-nodes-block {
	display: none;
}

.section-newsletter .field-item {
	background-color: transparent;
	padding: 0px;
	margin: 0px;
}

.section-newsletter .field-item p {
	margin-top: 30px;
}