/*

  css for search-region

*/

.page-search-node  #content-header{
  width: 716px;
  margin-top: -56px
}

.page-search-node #page-title{
  line-height: 1;
  margin-bottom: 15px;
  font-weight: 100;
}

 .page-search-node li {
  color: #FFFFFF;
 }

#edit-search-block-form--2
{
  border:0px;
  margin-left: 6px;
  width:100px;
  background-color: #000000;
  color: #00e7ee;
  letter-spacing: 0.09em;
  display: none;
  font-size: 11px;
  font-weight: 700;
  line-height: 15px;
  font-family: 'Lato',sans-serif;
  margin: 0px;
  padding: 0px;
  padding-left: 6px;
  padding-right: 6px;
  height: 12px;
}

#search-block-form .form-submit{
	display:none;
}

/* STYLE OF SEARCH RESULTS */

#edit-keys {
  display: inline;
}

.form-type-textfield label {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.05em;
 }

.main-wrapper h2{
  font-size: 17px;
  letter-spacing: 0.05em;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;  
}

.title a,
ol {
  font-size: 17px;
  letter-spacing: 0.2em;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

.search-results{
  list-style-type: square;
}

.title a:hover{
  text-decoration: underline;
}
.search-snippet-info{
  background-color: #FFFFFF;
  background-color:rgba(255,255,255,0.8);
  padding: 25px 10px 25px 16px;
  margin-bottom: 26px;
}

.search-snippet-info p{
  margin: 0px;
  margin-top: 12px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  font-weight: 300;
  color: #000000;
  text-transform: none;
}

.page-search-node #block-views-latest-entries-block,
.page-search-node #block-views-random-nodes-block,
.search-info {
  display: none;
}