.page-upcoming-event-list #content-header {
    width: 716px;
}

.page-upcoming-event-list #block-views-latest-entries-block,
.page-upcoming-event-list #block-views-random-nodes-block{
	display: none;
}

.page-upcoming-event-list #main-wrapper{
	margin-bottom: 30px;
}

.page-upcoming-event-list .region-content-header .views-row {
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	padding: 10px;
	padding-left: 8px;
	margin-bottom: 8px;
	overflow: hidden;
	line-height: 0;

	position: relative;
}

.page-upcoming-event-list .views-field-field-preview-image {
	float: left;
}

.page-upcoming-event-list .views-field-title {
    color: #000000;
	color: rgba(0, 0, 0, 0.7);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.2em;
    line-height: 21px;
	text-transform: uppercase;

	padding-top: 8px;
	padding-left: 14px;
	overflow: hidden;
}

.page-upcoming-event-list .views-field-title a {
	color: #000000;
	color: rgba(0, 0, 0, 0.7);
	text-decoration: none;
}

.page-upcoming-event-list .views-field-title a:hover {
	color: #00E7EE;
	background-color: #000000;
}

.page-upcoming-event-list .views-field-field-date-of-event {
    color: #000000;
	color: rgba(0, 0, 0, 0.7);
    font-size: 17px;
    font-weight: 100;
    letter-spacing: 0.2em;
    line-height: 21px;
    text-transform: uppercase;

	float: left;
	padding-left: 14px;
	overflow: hidden;
}

.page-upcoming-event-list .views-field-field-location {
	color: #000000;
	color: rgba(0, 0, 0, 0.7);
	font-size: 17px;
    font-weight: 100;
    letter-spacing: 0.2em;
    line-height: 21px;
    text-transform: uppercase;

	padding-left: 4px;
	overflow: hidden;	
}

.page-upcoming-event-list .views-field-field-preview-text {
	color: #000000;
	color: rgba(0, 0, 0, 0.7);
	font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.03em;
    line-height: 17px;	

    margin-top: 3px;
	padding-left: 14px;
	overflow: hidden;
	width: 70%;
}

.page-upcoming-event-list .views-field-view-node{
	color: #000000;
	color: rgba(0, 0, 0, 0.7);
	font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 17px;	

	overflow: hidden;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.page-upcoming-event-list .views-field-view-node a {
	text-decoration: none;
}

.page-upcoming-event-list .views-field-view-node a:hover {
	color: #00E7EE;
	background-color: #000000;
}